<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo Suite">
    <listeners>
        <listener class-name="org.rntgroup.listeners.TestListener"/>
    </listeners>
    <test name="Sum Unit Test">
        <classes>
            <class name="org.rntgroup.CalcTest"/>
        </classes>
    </test>
</suite>